[Unit]
Description=BotPi Robot Face
After=multi-user.target

[Service]
Type=exec
User=PI_USER
EnvironmentFile=/etc/botpi.conf
ExecStart=PI_PATH -lat ${LAT} -lon ${LON}
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
